<%= simple_form_for(@bible_verse) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :testament %>
    <%= f.input :book %>
    <%= f.input :chapter %>
    <%= f.input :verse %>
    <%= f.input :content %>
    <%= f.input :reference %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
