<div class="col-sm-9 col-md-10">

  <div class="page-header">
    <h3>Step 1: Find your verse</h3>
    <%= search_form_for @q , :url => { :song => "new" } do |f| %>
        <div class="span3">
          <%= f.select :testament_in, BibleVerse::TESTAMENTS, include_blank: "Both" %>
          <%= f.select :book_in, BibleVerse::EN_BOOKS, include_blank: "All" %>
          <%= f.text_field :chapter_eq, :placeholder => 'Ch' %>
          <%= f.text_field :verse_eq, :placeholder => 'Verse', :class => 'span1' %>
          <%= f.text_field :content_cont, :placeholder => 'Words', :class => 'span2' %>
          <%= f.submit "Search", :class => "btn btn-primary" %>
        </div>
      <% end %>

      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th>Ref</th>
            <th>Verse</th>
          </tr>
          <%= will_paginate @bible_verses, renderer: BootstrapPagination::Rails %>

          <% BibleVerseDecorator.decorate_each(@bible_verses) do |bible_verse| %>
            <tr>
              <td class="span2">
                <%= link_to bible_verse.reference, bible_verse_path(bible_verse) %>
              </td>
              <td><%= bible_verse.content %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <h3>Setp 2: Add your song</h3>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for @song, html: {class: "form-horizontal" },
        wrapper: :horizontal_form,
        wrapper_mappings: {} do |f| %>

        <%= f.input :title %>
        <%= f.input :lyrics, input_html: {rows: 10} %>

        <div class="form-group">
          <label class="col-sm-3 control-label" for="song_link">
            Upload Song
          </label>
          <div class="col-sm-9">
            <%= f.file_field :mp3file, label: "Upload Song",
              class: "btn btn-default" %>
          </div>
        </div>

        <br/>
        <%= f.submit "Submit", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>

