
<h3><%= @song.title %></h3>

<%= link_to "edit", edit_song_path(@song) %>

<p>
  <audio controls="controls">
    <source src="<%= @song.link %>" />
  </audio>
</p>
<p>
<%#= link_to "Downlaod", download_url_for(song.link), :class => "html5" %>
<%#= link_to "Delete",  "songs/delete/?song=" + song.key, :confirm => 'Are you sure you want to delete ' + song.key + '?' %>
</p>

</br>

<% for i in 0..@song.number_of_lines %>
  <p><%= @song.decorate.display_chords[i] %></p>
  <p><%= @song.decorate.display_lyrics[i] %></p>
<% end %>
