<div>
<h3>
  <%= @song.title %>
  ~ <%= link_to "edit", edit_song_path(@song) %>
    </h3>
    </br>
</div>

<p>
<audio controls="controls">
  <source src="<%= @song.link %>" />
</audio>
</p>
<p>
<%#= link_to "Downlaod", download_url_for(song.link), :class => "html5" %>
<%#= link_to "Delete",  "songs/delete/?song=" + song.key, :confirm => 'Are you sure you want to delete ' + song.key + '?' %>
</p>

</br>

<% for i in 0..@song.number_of_lines %>
  <% if @song.chords %>
    <p><%= @song.decorate.display_chords[i] %></p>
  <% end %>
  <p><%= @song.decorate.display_lyrics[i] %></p>
<% end %>
